

@mixin animate-5-bg($bg-1, $bg-2, $bg-3, $bg-4, $bg-5, $bg-6, $name, $time) {
	.#{$name}{
		animation: $name $time ease-in-out alternate infinite;
		-webkit-animation: $name $time ease-in-out alternate infinite;
		-moz-animation: $name $time ease-in-out alternate infinite;
		-o-animation: $name $time ease-in-out alternate infinite;
	}

	@keyframes $name{
		0%{
			fill: $bg-1;
		}
		20%{
			fill: $bg-2;
		}
		40%{
			fill: $bg-3;
		}
		60%{
			fill: $bg-4;
		}
		80%{
			fill: $bg-5;
		}
		100%{
			fill: $bg-6;
		}
	}
	@-webkit-keyframes $name{
		0%{
			fill: $bg-1;
		}
		20%{
			fill: $bg-2;
		}
		40%{
			fill: $bg-3;
		}
		60%{
			fill: $bg-4;
		}
		80%{
			fill: $bg-5;
		}
		100%{
			fill: $bg-6;
		}
	}
	@-moz-keyframes $name{
		0%{
			fill: $bg-1;
		}
		20%{
			fill: $bg-2;
		}
		40%{
			fill: $bg-3;
		}
		60%{
			fill: $bg-4;
		}
		80%{
			fill: $bg-5;
		}
		100%{
			fill: $bg-6;
		}
	}
	@-o-keyframes $name{
		0%{
			fill: $bg-1;
		}
		20%{
			fill: $bg-2;
		}
		40%{
			fill: $bg-3;
		}
		60%{
			fill: $bg-4;
		}
		80%{
			fill: $bg-5;
		}
		100%{
			fill: $bg-6;
		}
	}
}
