$golden: 1.618;

$h1-size: (3.3333em); 
$h2-size: (2.6667em); 
$h3-size: (2em); 
$h4-size: (1.3333em);
$h5-size: (1.1667em);
$h6-size: (1em);
$p-size: (1em);

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Bevan', cursive;
}



//text margin designed for use on top and bottom
@function text-mtb($font-size){
  @return $font-size/$golden
}
@function line-height($font-size){
	@return $golden*1em
}

h1 {
	line-height: $golden*1em;
	font-size: $h1-size; 
}

h2 { 
	line-height: $golden*1em;
	font-size: $h2-size;
}
h3 { 
	line-height: $golden*1em;
	font-size: $h3-size; 
}
h4 { 
	line-height: $golden*1em;
	font-size: $h4-size; 
}
h5 { 
	line-height: $golden*1em;
	font-size: $h5-size; 
}
h6 { 
	line-height: $golden*1em;
	font-size: $h6-size; 
}

p {
	line-height: $golden*1em;
	font-size: $p-size;
}
