@import "compass/reset";
// @import "susy";
@import "normalize";
// @import "breakpoint";
@import "grid";
@import "type";
@import "mixins";

$base-color: #fcfcfc;

body {
	background: $base-color;
}

.profile-picture {
	margin-top: 11px;
	.path-color {
		fill: #cccccc;
	}
}

.main-body {

	h1 {
		color: #ffffff;
		background: black;
		padding-left: .25em;
	}

	h2, h3 {
		border-bottom: 1px solid #bbb;
	}

	p {
		margin-bottom: $golden*.75em;
		text-align: justify;
	}
}
$bg-1: #f43994;
$bg-2: #b2e0ef;
$bg-3: #fb9934;
$bg-4: #64bc92;
$bg-5: #703392;
$bg-6: #ed443f;

// bg-2 through bg-5 are currently commented out
@include animate-5-bg($bg-1, $bg-2, $bg-3, $bg-4, $bg-5, $bg-6, ham, 2s);



